<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Success</servlet-name>
        <servlet-class>Success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_login</servlet-name>
        <servlet-class>User_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_activity</servlet-name>
        <servlet-class>Admin_activity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_schedule</servlet-name>
        <servlet-class>Create_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_schedule</servlet-name>
        <servlet-class>View_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_view_schedule</servlet-name>
        <servlet-class>User_view_schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change_schedule</servlet-name>
        <servlet-class>Change_schedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Success</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_login</servlet-name>
        <url-pattern>/User_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_activity</servlet-name>
        <url-pattern>/Admin_activity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_schedule</servlet-name>
        <url-pattern>/Create_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_schedule</servlet-name>
        <url-pattern>/View_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_view_schedule</servlet-name>
        <url-pattern>/User_view_schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change_schedule</servlet-name>
        <url-pattern>/Change_schedule</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
